.modal{

    input:focus{outline: none;}
    color: black;
    .input-add{
        border:0;
        padding: 7px 0;
        border-bottom:1px solid #ccc;
        font-size: 20px;
        width: 250px;
    }
    .focus-border{
        margin-left: 15px;
    }
    .input-add ~ .focus-border{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: green;
        transition: 0.4s;
    }
    .input-add:focus ~ .focus-border{
        width: 250px;
        transition: 0.4s;
    }
}
