<!-- Modal Add Wallet -->
<div class="modal fade" id="modalAddWall">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Thêm Ví</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-2">
            <img src="assets/images/wallet.png" width="80%" height="100%" alt="">
          </div>
          <div class="col-lg-10">
            <input type="text" class="input-add" placeholder="Nhập Tên Ví ...">
            <span class="focus-border"></span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-2">
            <img src="assets/images/dollaricon.png" style="margin-top:5px;" width="80%" height="80%" alt="">
          </div>
          <div class="col-lg-10">
            <input type="number" class="input-add" min="0" placeholder="Nhập Số Tiền ...">
            <span class="focus-border"></span>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-3">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <div class="col-lg-7"></div>
        <div class="col-lg-2">
          <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#modalAddWall">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>