<div class="row">
    <div class="col-lg-3 card menu">
        <div class="card-block">
            <app-navbar></app-navbar>
        </div>
    </div>
    <div class="col-lg-9">
        <app-wallet></app-wallet>
        <router-outlet></router-outlet>
    </div>
</div>