<div class="card banner">
  <div class="card-block row">
    <div class="col-lg-2 offset-lg-4">
      <img src="assets/images/wallet.png" width="60%" height="60%" alt="">
      <br> All Wallets
      <br> 0 $
    </div>
    <i class="col-lg-1 fas fa-angle-double-down fa-3x" data-toggle="modal" data-target="#modalWallets"></i>
  </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="modalWallets">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="col-lg-8 modal-title">Lựa Chọn Ví</h4>
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row selectwall" *ngFor='let wallet of dataWallets'>
          <div class="col-lg-2">
            <img src="assets/images/wallet.png" width="80%" height="60%" alt="">
          </div>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-10">
                <div class="namewall">{{wallet.namewallet}}</div>
                <div class="money">{{wallet.money | number: '1.0-0'}} $</div>
              </div>
              <div class="col-lg-2">
                <i class="fas fa-check"></i>
                <i class="fas fa-trash-alt"></i>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-3">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        <div class="col-lg-6"></div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#modalAddWall">
            Add Wallet
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Modal Add Wallet -->
<app-addwallet></app-addwallet>