.banner{
    // height: 100px;
    background-color:rgba(0,0,0,0.4);
    color: white;
    text-align: center;
    padding:15px 0;
    i{
        padding-top:20px;
        margin-left:-20px;
    }
    i:hover{
        text-shadow: 0 0 0.2em blue, 0 0 0.4em blue,0 0 0.4em blue;

    }
}
.modal{
    color: black;
    margin-top:5%;
    .modal-title{
        padding:0;
    }
    .modal-body{
        padding:0;
        margin:0;
        padding-bottom:20px;
        .fa-check{
            visibility: visible;
            font-size: 20px;
            color: green;
        }
        .fa-trash-alt{
            visibility: hidden;
            font-size: 20px;
            color: red;
        }
        .selectwall{
            .fa-check{
                margin-left:-15px;
            }
            .fa-trash-alt{
                margin-left:-15px;
            }
        }
        .selectwall:hover{
            .fa-trash-alt{
                visibility: visible;
            }
            .fa-check{
                visibility: hidden;
                margin-left:-22px;
            }
            background-color: rgba(0,0,0,0.1);
        }
        .row{
            padding-left:20px;
            .col-lg-2{
                margin: auto 0 auto 0;
            }
            i{
                margin-left:-10px;
            }
        }
        .namewall{
            margin-top:10px;
        }
        .money{
            opacity: 0.5;
            padding-bottom: 10px;
        }
    }
    hr{
        margin:0;
    }
}