/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
// @import 'fontawesome.min.css';
body{
    background: url("assets/images/buble.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100% !important;
    color: white !important;
    left: 0;
    right: 0;
    position: relative;
}