<h6>
  <i class="far fa-user"></i> phiviet.ff@gmail.com
</h6>
<hr>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link hvr-underline-from-center" routerLink="/wallets" routerLinkActive="act">Tổng Quan</a>
  </li>
  <li class="nav-item">
    <a class="nav-link hvr-underline-from-center" routerLink="/savings" routerLinkActive="act">Tiết Kiệm</a>
  </li>
  <li class="nav-item">
      <a class="nav-link hvr-underline-from-center" routerLink="/travels" routerLinkActive="act">Du Lịch</a>
    </li>
</ul>