h6{
  margin-top:10%;
  padding:4%;
}
h6:hover{
  text-shadow: 0 0 0.2em blue, 0 0 0.4em blue,0 0 0.4em blue;
}
a{
  color: white;
  font-size: 20px;
}
a:hover{
  text-shadow: 0 0 0.2em blue, 0 0 0.4em blue,0 0 0.4em blue;
}
.act{
  text-shadow: 0 0 0.2em blue, 0 0 0.4em blue,0 0 0.4em blue;
}
a:focus{
  outline: none;
}

 /* Underline From Center */
 .hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;  
  background: cornflowerblue;
  // text-shadow: 0 0 0.2em blue, 0 0 0.4em blue,0 0 0.4em blue;

  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}